{extend name="public/base"}

{block name="x-body"}
<div class="x-body">
    <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll('{:url(\'promotion/coupon_del\')}')"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加优惠券','{:url(\'promotion/coupon_form\')}')"><i class="layui-icon"></i>添加</button>
        <a class="layui-btn" href="{:url('promotion/export')}">优惠券导出</a>
        <span class="x-right" style="line-height:40px">共有数据：{$list -> total()} 条</span>
    </xblock>
    <table class="layui-table layui-form">
        <thead>
        <tr>
            <th width="50">
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th width="50">ID</th>
            <th>优惠券券码</th>
            <th>优惠券密码</th>
            <th>优惠券金额</th>
            <th>使用开始日期</th>
            <th>使用截止日期</th>
            <th>添加时间</th>
            <th style="text-align: center;">激活状态</th>
            <th style="text-align: center;">使用状态</th>
            <th>操作</th>
        </thead>
        <tbody>
        {volist name="list" id="v"}
        <tr>
            <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$v.id}'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{$v.id}</td>
            <td>{$v.coupon}</td>
            <td>{$v.coupon_pass}</td>
            <td>{$v.money}</td>
            <td>{$v.use_start_time|date="Y-m-d"}</td>
            <td>{$v.use_end_time|date="Y-m-d"}</td>
            <td>{$v.add_time|date="Y-m-d"}</td>
            <td style="text-align: center;">
                <input class="check" type="checkbox" name="status" data-id="{$v.id}" data-status="{$v.status}" lay-text="已激活|未激活" {if $v.status == 1}checked=""{/if} lay-skin="switch">
            </td>
          	<td style="text-align: center;">
                <input class="check" type="checkbox" name="useStatus" data-id="{$v.id}" data-status="{$v.useStatus}" lay-text="已使用|未使用" {if $v.useStatus == 1}checked=""{/if} lay-skin="switch">
            </td>
            <td class="td-manage">
                <a title="编辑"  onclick="x_admin_show('编辑优惠券', '{:url(\'promotion/coupon_form\', [\'id\' => $v.id])}')" href="javascript:;">
                    <i class="layui-icon">&#xe642;</i>
                </a>
                <a title="删除" onclick="member_del(this,'{$v.id}', '{:url(\'promotion/coupon_del\')}')" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page">
        {$list -> render()|raw}
    </div>

</div>

<script>
    /**
     * 更新状态
     */
    editStatus('{:url("promotion/coupon_status")}', 'useStatus');
</script>
{/block}