{extend name="public/base"}

{block name="x-body"}
    <div class="x-body">
      <div class="layui-row">
      	<form class="layui-form layui-col-md12 x-so" method="get">
          <input class="layui-input" placeholder="开始日" name="start" value="{$order_sn.start}" id="start">
          <input class="layui-input" placeholder="截止日" name="end" value="{$order_sn.end}" id="end">
          <div class="layui-input-inline">
          	<select name="order_status">
              <option value="">订单状态</option>
              <option value="0" {$order_sn.order_status === '0' ? 'selected' : ''}>未确定</option>
              <option value="1" {$order_sn.order_status == 1 ? 'selected' : ''}>已确定</option>
            </select>
          </div>
          <input type="text" name="order_sn"  placeholder="请输入订单号" autocomplete="off" class="layui-input" value="{$order_sn.order_sn}">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock style="height: 40px;">
        <span style="line-height:40px; padding-left: 10px;">总金额：<span style="color: red;">{$count}</span></span>
        <span class="x-right" style="line-height:40px">共有数据：{$list -> total()} 条</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>订单编号</th>
            <th>订单总价</th>
            <th>订单状态</th>
            <th>支付状态</th>
            <th>支付方式</th>
            <th>下单时间</th>
            <th>操作</th>
            </tr>
        </thead>
        <tbody>
          {volist name="list" id="v"}
            <tr>
              <td>{$v.id}</td>
              <td>{$v.order_sn}</td>
              <td>
                <img src="__STATIC__/common/images/money.png" width="20" alt=""> {$v.order_count}
              </td>
              <td>
                {switch name="v.order_status"}
                  {case value="0"}未确定{/case}
                  {case value="1"}已确定{/case}
                  {case value="2"}已收货{/case}
                  {case value="3"}已取消{/case}
                  {case value="4"}已完成{/case}
                {/switch}
              </td>
              <td>{$v.pay_status == 1 ? '已支付' : '未支付'}</td>
              <td>{$v.pay_name}</td>
              <td>{if $v.add_time}{$v.add_time|date="Y-m-d H:i"}{/if}</td>
              <td class="td-manage">
                <a title="订单查看"  onclick="x_admin_show('查看订单','{:url(\'order/order_form\', [\'id\' => $v.id])}')" href="javascript:;">
                  <i class="layui-icon">&#xe63c;</i>
                </a>
              </td>
            </tr>
          {/volist}
        </tbody>
      </table>
      <div class="page">
        {$list -> render()|raw}
      </div>

    </div>
{/block}